header
  script(type='text/javascript', src='http://10.200.242.213:2000/socket.io/socket.io.js')
  script(type='text/javascript', src='/js/chat.js')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
ul.nav.nav-tabs
  li.nav-item
    a.nav-link.active(aria-current='page' href='/chat/view') Chat
  li.nav-item
    a.nav-link(href='/history') Historial
.container.p-4
form(id="send" action="/chatView" method="POST")
  div
    h3 Chat #{chatId}
    textarea(name='chat' id='chat' cols='100' rows='15')
  .p-2
    input.w-50(type='text' id="msg")
    input.btn.btn-primary(type='submit' value='Enviar')
