header
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
ul.nav.nav-tabs
  li.nav-item
    a.nav-link(aria-current='page' href='/chatView') Chat
  li.nav-item
    a.nav-link.active(href='/historySelect') Historial
.container.p-4
  div
    h3 Chat 1
    textarea(name='' id='' cols='100' rows='15')
  .p-2
    button.btn.btn-info Borrar chat
