header
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
ul.nav.nav-tabs
  li.nav-item
    a.nav-link(aria-current='page' href='/chatView') Chat
  li.nav-item
    a.nav-link.active(href='') Historial
.container.p-4
  div
form(id="send" action="/historyChat" method="POST")
    select(name='select')
        option(value='chat1') Chat 1
        option(value='chat2') Chat 2
        option(value='chat3') Chat 3
    button.btn.btn-info Mostrar 