header
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
form#form.form-group.p-4(method='post', action='/chatView')
  ul.list-group
    li.list-group-item.p-3
      p.p-2.h3 Selecciona la sala de chat
    li.list-group-item.p-3
      input#chat1.form-check-input(type='radio' name='chatId' value='1')
      label.h7(for='chat1') Chat 1
    li.list-group-item.p-3
      input#chat2.form-check-input(type='radio' name='chatId' value='2')
      label.h7(for='chat2') Chat 2
    li.list-group-item.p-3
      input#chat3.form-check-input(type='radio' name='chatId' value='3')
      label.h7(for='chat3') Chat 3
    li.list-group-item.p-3
      input#chat4.form-check-input(type='radio' name='chatId' value='4')
      label.h7(for='chat4') Chat 4
  div
    input.btn.btn-primary(type='submit' value='Select')