header
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
p.h1.p-4 NODE CHAT

.p.h3.p-4 Register
form#form.form-group.p-4(method='post' action='/register')
  .p-4
    label(for='name') Username
    input#name(type='text' name='name')
  .p-4
    label(for='password') Password
    input#password(type='password' name='password')
  div
    input.btn.btn-primary(type='submit' value='Register')